
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #141414; 
  color: rgb(218, 218, 218); 
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #111; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}

.logo {
  width: 100px;
}

.user {
  font-weight: bold;
  font-size: 16px;
  color: #ff0000;
  text-transform: uppercase;
}


.banner {
  height: 900px;
  background-image: url('cartaz.jpg');
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}

.banner h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 450px;
}

.banner-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  padding: 12px 30px;
  background-color: #fc0101; 
  border: none;
  color: #fff; 
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn.secondary {
  background-color: rgba(109, 109, 110, 0.7);
}

.btn:hover {
  background-color: #f40612;
  transform: scale(1.05);
}

.btn.secondary:hover {
  background-color: rgba(109, 109, 110, 0.9);
}


.section {
  padding: 40px 30px;
  background-color: #1c1c1c; 
}

.section h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.filmes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.filme {
  width: 180px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); /* Sombras nas imagens */
}

.filme:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
}

footer {
  padding: 30px 0;
  text-align: center;
  background-color: #111;
  font-size: 14px;
  color: #888;
  margin-top: 40px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .banner {
    height: 700px;
    padding: 50px 20px;
  }

  .banner h1 {
    font-size: 30px;
  }

  .banner p {
    font-size: 16px;
  }

  .btn {
    padding: 10px 20px;
  }

  .btn.secondary {
    padding: 10px 20px;
  }

  .filmes {
    gap: 15px;
    justify-content: center;
  }

  .filme {
    width: 150px;
  }
}
