* {
    padding: 0%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;

}

body {
    background-color: rgb(194, 208, 255);
}

header {
    width: 100%;
    padding: 10px 0 px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header div {
    margin: 20px;
    display: flex;
    align-items: center;
}

header img {
    width: 40px;
}

.pai {
    width: 800px;
    height: 400px;
    background-color: brown;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.caixa {
    width: 100px;
    height: 100px;
    background-color: bisque;
    margin: 20px;
}